spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/docqa_deid
    username: docqa_user
    password: docqa_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

opennlp:
  model:
    ner:
      path: classpath:models/en-ner-person.bin

server:
  port: 8002

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: INFO
    com.docqa.deid: DEBUG